#
#Wed Sep 28 16:01:43 GMT+05:30 2011
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=J\:/CoCenter/CooIDE/flash/EFM32G_128.elf
org.coocox.codebugger.gdbjtag.core.resetMode=Type 0\: Normal
org.coocox.codebugger.gdbjtag.core.jflashtool=J\:\\STM32 ST-LINK Utility\\ST-LINK Utility\\ST-LINK_CLI.exe
org.coocox.codebugger.gdbjtag.core.clockDiv=1M
org.coocox.codebugger.gdbjtag.core.jlinkgdbserver=J\:\\st_ide\\TrueSTUDIO STM32 Lite 2.1.0\\Servers\\ST-LINK_gdbserver\\ST-LINK_gdbserver.exe
org.coocox.codebugger.gdbjtag.core.adapter=Other-Adapter
org.coocox.codebugger.gdbjtag.core.jflashscript=
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.gdbinitscript=monitor interface JTAG\r\nmonitor endian little\r\nmonitor speed auto\r\nmonitor flash device \= EFM32G280F128\r\nmonitor flash breakpoints \= 1\r\nmonitor flash download \= 1\r\nload "J\:/CoCenter/CooIDE/workspace/blinkos/Debug/bin/blinkos.elf"\r\nmonitor reset\r\ntb main\r\ncontinue
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
