<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.coocox.codebugger.gdbjtag.launchConfigurationType">
<stringAttribute key="LastModifyTimeOfElf" value="99746375d214a460944496a8e3286b1e"/>
<stringAttribute key="MyDefinition.ElfFileAbsolutePathName" value="J:/CoCenter/CooIDE/workspace/Vivek/STM32UARTIntOS\Debug\bin\STM32UARTIntOS.elf"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.adapter" value="ST-Link"/>
<booleanAttribute key="org.coocox.codebugger.gdbjtag.core.autoDownload" value="true"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.chipType" value="STM32F100RB"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.clockDiv" value="1M"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.debugMode" value="SWD"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultAlgorithm" value="J:/CoCenter/CooIDE/flash/STM32F10x_MD_128.elf"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIram0Size" value="0x00002000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIram0Start" value="0x20000000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIram1Size" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIram1Start" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIrom0Size" value="0x00020000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIrom0Start" value="0x08000000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIrom1Size" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.defaultIrom1Start" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.downloadFuction" value="Erase Effected"/>
<booleanAttribute key="org.coocox.codebugger.gdbjtag.core.ifCacheRom" value="true"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.ipAddress" value="localhost"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.iram0Size" value="0x00002000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.iram0Start" value="0x20000000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.iram1Size" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.iram1Start" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.irom0Size" value="0x00020000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.irom0Start" value="0x08000000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.irom1Size" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.irom1Start" value=""/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.jflashtool" value="J:\STM32 ST-LINK Utility\ST-LINK Utility\ST-LINK_CLI.exe"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.jlinkResetMode" value="Type 0: Normal"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.jlinkgdbserver" value="J:\st_ide\TrueSTUDIO STM32 Lite 2.1.0\Servers\ST-LINK_gdbserver\ST-LINK_gdbserver.exe"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.jtagDevice" value="Generic"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.manufacturer" value="ST"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.programAddr" value="0x08000000"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.core.resetMode" value="SYSRESETREQ"/>
<booleanAttribute key="org.coocox.codebugger.gdbjtag.core.useRemoteTarget" value="true"/>
<booleanAttribute key="org.coocox.codebugger.gdbjtag.core.verify" value="true"/>
<booleanAttribute key="org.coocox.codebugger.gdbjtag.coredebugInRam" value="false"/>
<booleanAttribute key="org.coocox.codebugger.gdbjtag.coreelfIsValid" value="true"/>
<booleanAttribute key="org.coocox.codebugger.gdbjtag.corerunToMain" value="true"/>
<stringAttribute key="org.coocox.codebugger.gdbjtag.corerunToMainScript" value="tbreak main&#10;continue&#10;"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="&quot;J:/CoCenter/CooIDE/gcc/Sourcery G++ Lite/bin/arm-none-eabi-gdb&quot;"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.commandFactory" value="Standard (Windows)"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.protocol" value="mi"/>
<booleanAttribute key="org.eclipse.cdt.debug.mi.core.verboseMode" value="false"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_REGISTER_GROUPS" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.FORMAT" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;contentList/&gt;"/>
<stringAttribute key="org.eclipse.cdt.launch.GLOBAL_VARIABLES" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;globalVariableList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;memoryBlockExpressionList/&gt;&#13;&#10;"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug\bin\STM32UARTIntOS.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="STM32UARTIntOS"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/STM32UARTIntOS"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="projectRootDirectory" value="J:/CoCenter/CooIDE/workspace/Vivek/STM32UARTIntOS"/>
</launchConfiguration>
